body{
	background-color: lightgrey;
}
h1{
font-size: 50px;
color: #581845;
}
h2{
font-size: 40px;
color: #FF5733;
}

.big{
font-size: 60px;
}
.uppercase{
text-transform: uppercase;
}
.big.uppercase{
color: navy;
}
h1 span{
color: violet;
}		